.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.top {
  display: flex;
}

.title {
  width: 90%;
  font-size: 18px;
}

.desc {
  width: 90%;
  margin-left: 10px;
  margin-bottom: 20px;
  font-weight: 300;
  color: gray;
}

.link {
  text-decoration: none;
  font-size: 12px;
}
