.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.texts {
  display: flex;
  flex-direction: column;
}

.title {
  color: gray;
  font-weight: bold;
}

.username {
  color: gray;
  font-weight: 500;
  margin-left: 10px;
}
